<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Types</title>
</head>
<body>
<h1>Ссылки</h1>
<div style="display: flex; gap: 10px">
    <a href="/books">Книги</a>
    <a href="/authors">Авторы</a>
    <a href="/genres">Жанры</a>
    <a href="/stores">Магазины</a>
    <a href="/types">Типы</a>
    <a href="/orderTypes">Типы заказов</a>
    <a href="/ordersList">Заказы</a>
    <a href="/profile">Посмотреть свой профиль</a>
</div>
<h1>Добавить тип</h1>
<form th:action="@{/orderTypes}" method="post" th:object="${orderType}">
    <input type="text" th:field="*{type}" placeholder="Название" required />
    <button type="submit">Создать</button>
</form>
<h1>Типы</h1>
<ul style="display: flex; flex-wrap: wrap; justify-content: start; gap: 20px">
    <li th:each="st : ${types}">
        <span>ID: </span>
        <span th:text="${st.getId()}"></span><br>
        <span>Тип: </span>
        <span th:text="${st.getType()}"></span><br>
        <a th:href="@{/orderTypes/edit/{id}(id=${st.getId()})}">Редактировать</a><br>
        <a th:href="@{/orderTypes/delete/{id}(id=${st.getId()})}" onclick="return confirm('Вы уверены, что хотите удалить?');">Удалить</a>
    </li>
</ul>
</body>
</html>